@page "/"

<PageTitle>خانه</PageTitle>

<h1>Hello</h1>




<CascadingValue Name="FirstParameter" Value="@cParam">
    <CascadingValue Name="FirstParameter2" Value="@cParam2">

        <PersonList People="people" Delete="Delete" />

    </CascadingValue>
</CascadingValue>

@code {


    private int a = 1;
    private List<Person> people;

    private string cParam = "پارامتر آبشاری یک";
    private string cParam2 = "پارامتر آبشاری دو";


    protected override async Task OnInitializedAsync()
    {
        //در تسک از این دستور استفاده نشود
        //System.Threading.Thread.Sleep(5000);

        await Task.Delay(5000);
        people =
            [
                new Person() { Id = 1, Name = "<b>aaaa<b>", Family = "bbbb" },
                new Person() { Id = 2, Name = "<i>ccccc<i>", Family = "dddd" },
                new Person() { Id = 3, Name = "<u>eeeeee</u>", Family = "fffff" }
            ];

    }


    private void AddItem()
    {
        Console.WriteLine("Item Added!");
        a++;
    }

    private void Delete(Person person)
    {
        people.Remove(person);
    }


}

